[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-lunarcalendar
Exec=sailfish-qml harbour-lunarcalendar
Name=LunarCalendar
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[zh_CN]=万年历
